@rendermode InteractiveServer
@inject ISourceProvider SourceProvider
@inject AppState State

<div class="navmenu" style="width: 100%;">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon"><FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" /></label>
    <nav class="sitenav" aria-labelledby="main-menu">
        <FluentNavMenu Id="main-menu" Collapsible="false" Title="Navigation menu" Expanded="true" CustomToggle="true">
            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Recent</FluentNavLink>
            @if (sources is not null)
            {
                @foreach (var source in sources)
                {
                    if (!string.IsNullOrEmpty(source.Name))
                    {
                        <FluentNavLink Href="@string.Format($"entries/{source.GetSlug()}")" Icon="@(new Icons.Regular.Size20.Book())" IconColor="Color.Accent">@source.Name</FluentNavLink>
                    }
                }
            }
        </FluentNavMenu>
    </nav>
</div>

@code {

    private bool expanded = true;
    private IEnumerable<SourceItem> sources = new List<SourceItem>();

    protected override async Task OnInitializedAsync()
    {
        await GetSourcesAsync();
        
        State.StateChanged += async () => await GetSourcesAsync();
    }

    internal async Task GetSourcesAsync()
    {
        sources = await SourceProvider.GetSourcesAsync();
        await InvokeAsync(StateHasChanged);
    }
}
