@page "/"
@using Humanizer
@using Aspiregregator.Frontend.ViewModels
@inject ISourceProvider sourceProvider

<PageTitle>Aspiregregator</PageTitle>

<h1>Aspiregregator</h1>

<p>Aspiregregator is a simple RSS/ATOM reader written using .NET Aspire</p>

<FluentDataGrid Items="@recentEntries" TGridItem="EntryItemViewModel">
    <TemplateColumn TGridItem="EntryItemViewModel" Width="10%">
        <div>@context.DisplayDate.Humanize()</div>
    </TemplateColumn>
    <PropertyColumn Property="@(p => p.Source)" Sortable="false" Width="15%" />
    <TemplateColumn TGridItem="EntryItemViewModel" Width="75%">
        <a target="_blank" href="@context.Link">@context.Title</a>
    </TemplateColumn>
</FluentDataGrid>

@code
{
    IQueryable<EntryItemViewModel>? recentEntries;

    protected override async Task OnInitializedAsync()
        => recentEntries = await new HomePageViewModel(sourceProvider).RefreshAsync();
}
